@import "../../../sass/common";

.deck-progress {
  width: 335px;

  .deck-name {
    font-weight: bold;
    width: 80%;
    height: 25px;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
  }

  &:hover .progress-value {
    color: $info-color;
  }

  .progress {
    margin-top: 10px;
    border-radius: 5px;
    max-width: 100%;
    height: 10px;

    .progress-bar {
      border-radius: 10px;
    }

  }
}