@import "../../../sass/common";

.deck-progress {
  width: 325px;

  .deck-name {
    @include chopped-text(80%);
    font-weight: bold;
    height: 25px;
  }

  &:hover .progress-value {
    color: $info-color;
  }

  .progress {
    margin-top: 10px;
    border-radius: 5px;
    max-width: 100%;
    height: 10px;

    .progress-bar {
      border-radius: 10px;
    }

  }
}