@use "src/sass/config";

.training-timer {
  .bi {
    width: 20px;
    height: 20px;
    transform: translateY(-3px);
    margin-right: 7px;

    @include config.xs { transform: translateY(0); }
  }
  .text {
    @include config.xs { font-size: 14px; }
  }
}
