@import "src/sass/config";

.training-timer {
  min-width: 70px;

  .bi {
    width: 20px;
    height: 20px;
    transform: translateY(-3px);
    margin-right: 5px;

    @include xs { transform: translateY(0); }
  }
  .text {
    @include xs { font-size: 14px; }
  }
}
