@import "../../../sass/common";
@import "../../icons/icons";

.notification {
  width: 350px;
  height: 110px;
  padding: 7px 10px;
  position: relative;
  background-color: $white-color;
  border-bottom: solid 0.5px rgba($primary-color, .2);
  margin: auto;

  &:hover {
    background-color: $bg-hover-color;
    cursor: pointer;
  }

  .overdue--warning {
    @include attention-base($warning-color);
  }

  .overdue--danger {
    @include attention-base($danger-color);
  }

  .receiving-time {
    margin-top: 10px;
    font-size: 14px;
    font-weight: lighter;
    color: rgba($primary-color, .6);
  }

  .notification-description {
    font-size: 14px;
    font-weight: lighter;
    color: rgba($primary-color, .6);
  }

  .deck {
    gap: 10px;

    p {
      margin: 0;
    }

    .deck-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }

    .training-cards-number {
      position: static;
      .repeat-info {
        margin-right: 0;
      }
    }

    .deck-info {
      width: 75%;

      .deck-path {
        @include chopped-text();
        font-size: 12px;
      }

      .deck-name {
        @include chopped-text();

        font-size: 16px;
        font-weight: bold;
      }
    }

    .clocks-fill-up-icon {
      margin-top: -3px;
      margin-right: 5px;
    }

    .cards-number {
      padding-left: 0;
      font-size: 12px;
    }
  }
}
