.input-with-icon {
  position: relative;
  text-indent: 22px;

  .e-email {
    position: absolute;
    top: 11px;
    left: 10px;
  }

  .e-password {
    position: absolute;
    top: 9px;
    left: 10px;
  }
}
