.reading-guy-and-girl {
  position: absolute;
  left: 100px;
  top: 100px;
}

.reading-girl {
  position: absolute;
  transform: scale(1.3);
  right: 160px;
  top: 183px;
}

.standing-girl {
  position: absolute;
  right: 160px;
  top: 183px;
}