@import "../../../../sass/config";

.settings__deck-name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.settings__deck-label-container {
  margin-bottom: -5px;

  .settings__deck-label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    color: $secondary-text-color;
    padding: 2px 5px;
    background-color: $light-color;
    border-radius: 5px;
  }
}