$primary-color: #1C2540;
$secondary-color: #fca95c;
$tertiary-color: #1b998b;
$info-color: #0948b3;
$success-color: #05a677;
$warning-color: #f5b759;
$danger-color: #fa5252;
$dark-color: #262b40;
$gray-color: #4a5073;
$light-color: #eaedf2;
$white-color: #fff;
$bg-color: #F5F8FB;
$border-color: #EBEBEB;

$bg-hover-color: rgba($gray-color, .1);
$secondary-text-color: rgba($primary-color, 0.5);
$font-stack: Nunito, Helvetica, sans-serif;

$navbar-width: 80px;
$content-padding: 50px;
$content-padding-left: $navbar-width + $content-padding;

$media_queries : (
  'mobile': "only screen and (max-width: 550px)",
);

@mixin for($breakpoints) {
  $conditions : ();
  @each $breakpoint in $breakpoints {
    $conditions: append($conditions, #{ inspect(map-get($media_queries, $breakpoint)) }, comma);
  }

  @media #{$conditions} { @content; }
}