$primary-color: #1C2540;
$secondary-color: #fca95c;

$font-stack: Nunito, Helvetica, sans-serif;

%landing-screen-base {
  background-color: $primary-color;
  height: 100vh;
  position: relative;
  overflow: auto;
}

%landing-subheader {
  margin-top: 10px;
  margin-left: 150px;
  font-size: 60px;
  font-weight: bold;
  font-family: $font-stack;
  color: white;
}