@import 'config';

%ui-card-base {
  padding: 17px 20px;
  background-color: $white-color;
  border: 0.5px solid $border-color;
  border-radius: $ui-card-border-radius;
}

%outer-ui-card {
  @extend %ui-card-base;
  padding: 48px;
}

%transparent-button-base {
  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;
  outline:none;

  &:focus,
  &:active {
    outline: none !important;
    border: none;
  }
}

.transparent-button {
  @extend %transparent-button-base;
}

@mixin chopped-text($width: 100%) {
  width: $width;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
