@import "config";

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "tertiary": $tertiary-color,
  "info": $info-color,
  "success": $success-color,
  "warning": $warning-color,
  "danger": $danger-color,
  "dark": $dark-color,
  "gray": $gray-color,
  "light": $light-color,
);

.btn.btn-primary:active:hover,
.btn.btn-primary:hover {
  background-color: #000;
}

$body-bg: $bg-color;

$input-focus-width: .2rem !default;
$input-focus-color: $primary-color !default;
$input-focus-border-color: rgba($primary-color, .5) !default;
$input-focus-box-shadow: 0 0 0 $input-focus-width rgba($primary-color, .25) !default;

$border-radius: 10px;
$border-radius-lg: 10px;
$font-family-sans-serif: $font-stack;

@import "../../node_modules/bootstrap/scss/bootstrap";

a {
  text-decoration: none;
  color: $primary-color;
}