@import "config";
@import "common";

$theme-colors: (
  "primary": $primary-color,
  "secondary": $secondary-color,
  "tertiary": $tertiary-color,
  "info": $info-color,
  "success": $success-color,
  "warning": $warning-color,
  "danger": $danger-color,
  "dark": $dark-color,
  "gray": $gray-color,
  "light": $light-color,
);

.btn.btn-primary:active:hover,
.btn.btn-primary:hover {
  background-color: #000;
}

$body-bg: $bg-color;

$input-focus-width: .2rem !default;
$input-focus-color: $primary-color !default;
$input-focus-border-color: rgba($primary-color, .5) !default;
$input-focus-box-shadow: 0 0 0 $input-focus-width rgba($primary-color, .25) !default;
$input-btn-focus-width: .2rem;
$input-btn-focus-color: rgba($primary-color, .25);

$form-check-input-checked-border-color: $primary-color;
$form-check-input-checked-bg-color: $primary-color;
$form-check-input-focus-border: $gray-color;


$border-radius: 10px;
$border-radius-lg: 10px;
$font-family-sans-serif: $font-stack;

@import "../../node_modules/bootstrap/scss/bootstrap";

a {
  text-decoration: none;
  color: $primary-color;
}

.btn-sm {
  border-radius: 7px;
}

.btn-tertiary {
  color: white;
  &:hover,
  &:active,
  &:focus {
    color: white;
  }
}

.nav-item {
  &:hover {
    cursor: pointer;
  }
}