@import "../../../../sass/config";

%overdue-indicator-base {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -3px;
    right: -10px;
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: white;
  }
}

.trainings-heading {
  min-height: 37px;
  padding-left: 25px;
  padding-right: 30px;
  padding-bottom: 5px;
  margin-bottom: 0;

  & > .training-cards-number {
    position: static;
    margin-top: 9px;
    margin-right: 10px;
    transform: scale(1.2);
  }

  .chevron-up-icon.collapsed {
    transform: scale(1.5) rotate(180deg);
  }

  .chevron-up-icon {
    transform: scale(1.5);
    margin-right: 3px;
    transition: .3s transform ease-in-out;
  }

  .subheader {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 5px;
  }

  .btn {
    opacity: 0;
    height: 32px;
    transition: opacity 0.3s ease-in-out;

    &:focus {
      opacity: 1;
    }

    @media only screen and (max-width: 850px) { & { opacity: 1; } }
  }

  .overdue-indicator--warning {
    @extend %overdue-indicator-base;
    &::after { background-color: $warning-color; }
  }

  .overdue-indicator--danger {
    @extend %overdue-indicator-base;
    &::after { background-color: $danger-color; }
  }
}