@import "../../../sass/config";

.navbar {
  width: $navbar-width;
  height: 100vh;
  position: fixed;
  z-index: 1000;
  top: 0;
  background-color: $primary-color;

  transition: opacity 0.3s ease-in-out;

  .navbar-nav {
    height: 480px;
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;

    .nav-item {
      width: 100%;

      .nav-link {
        display: flex;
        position: relative;
        align-items: center;
        height: 80px;

        &:hover {
          background: black;
        }

        svg {
          width: 32px;
          margin: 0 24px;
          fill: $white-color;
        }

        &--active {
          &::before {
            content: '';
            width: 7px;
            height: 100%;
            position: absolute;
            background-color: $secondary-color;
          }
          svg {
            fill: $secondary-color;
          }
        }

        @media only screen and (max-width: 550px) { & { height: 70px } }
      }
    }
  }

  .uni-icon {
    margin-left: 3px;
    @media only screen and (max-width: 550px) { & { height: 0} }
  }
}

@media only screen and (max-width: 550px) {
  .navbar {
    left: -$navbar-width;
    opacity: 0;
  }

  .navbar--visible {
    left: 0;
    opacity: 1;
  }
}

.nav-backdrop {
  width: 0;
  transition: width 0.3s ease-in-out;
}

@include xs {
  .nav-backdrop--visible {
    z-index: 999;
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: $primary-color;
    opacity: .5;
  }
}
