@import "../../../sass/common";
@import "../common";


.time-in-app {
  @extend %ui-card-base;

  width: 79%;
  height: $overview-card-height;

  .time-in-app-line-container {
    width: 1370px;
    height: 210px;
  }
}
