@import "../../../sass/common";
@import "../common";


.time-in-app {
  @extend %ui-card-base;

  width: 82.5%;
  height: $overview-card-height;

  .time-in-app-line-container {
    width: 100%;
    height: 88%;
  }
}
