@import "../../../sass/config";

%overdue-base {
  display: inline;
  transform: scale(1.3);
  position: absolute;
  top: 12px;
  right: 10px;
}

.notification {
  width: 350px;
  height: 110px;
  padding: 7px 10px;
  position: relative;
  background-color: $white-color;
  border-bottom: solid 0.5px rgba($primary-color, .2);
  margin: auto;

  &:hover {
    background-color: $light-color;
    cursor: pointer;
  }

  .overdue--none {
    @extend %overdue-base;
    display: none;
  }

  .overdue--warning {
    @extend %overdue-base;
    fill: $warning-color;
  }

  .overdue--danger {
    @extend %overdue-base;
    fill: $danger-color;
  }

  .receiving-time,
  .notification-description {
    font-size: 14px;
    font-weight: lighter;
    color: rgba($primary-color, .6);
  }

  .deck {
    gap: 10px;

    .deck-circle {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #25A7FC;
    }

    .deck-path {
      font-size: 12px;
    }

    .deck-name {
      font-size: 16px;
      font-weight: bold;
    }

    .clocks-fill-up-icon {
      margin-top: -3px;
      margin-right: 5px;
    }

    .cards-number {
      padding-left: 0;
      font-size: 12px;
    }
  }
}
