@import '../../signing/signing';

.forgot-password-card {
  @extend %ui-card;

  width: 500px;
  height: 400px;

  .card__header {
    font-family: $font-stack;
    font-weight: bold;
    font-size: 28px;
    text-align: left;
  }

  p {
    margin-top: 10px;
    margin-bottom: 25px;
  }

  .btn {
    margin-top: 20px;
  }

}
