@import "../../sass/common";

%two-rows-text-base {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@mixin mini-deck-card-base($dx: 0, $dy: -5px) {
  height: 80px;

  position: relative;
  padding-top: 10px;
  border-radius: 10px;
  background-color: $white-color;
  box-shadow:
          0 0 4.2px rgba(0, 0, 0, 0.1),
          0 6.7px 5.3px rgba(0, 0, 0, 0.051),
          0 12.5px 10px rgba(0, 0, 0, 0.043),
          0 22.3px 17.9px rgba(0, 0, 0, 0.037),
          0 41.8px 33.4px rgba(0, 0, 0, 0.03),
          0 100px 80px rgba(0, 0, 0, 0.021);

  transition:
          transform .3s ease-out,
          box-shadow .3s ease-out;

  &:hover {
    transform: translate($dx, $dy);
    box-shadow:
            0 2.8px 2.2px rgba(0, 0, 0, 0.021),
            0 6.7px 5.3px rgba(0, 0, 0, 0.03),
            0 12.5px 10px rgba(0, 0, 0, 0.037),
            0 22.3px 17.9px rgba(0, 0, 0, 0.043),
            0 41.8px 33.4px rgba(0, 0, 0, 0.051),
            0 100px 80px rgba(0, 0, 0, 0.07);
    cursor: pointer;
  }

  &:active {
    background-color: $bg-hover-color;
  }

  .deck-mark {
    width: 14px;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .deck-name {
    @extend %two-rows-text-base;

    margin-left: 20px;
    font-size: 16px;
    font-weight: bold;
    line-height: 16px;
  }

  .time {
    position: absolute;
    bottom: 3px;
    right: 10px;
    color: rgba($primary-color, .5);
    font-size: 12px;
    font-weight: lighter;
  }
}
