@import "../../../sass/common";
@import "../common";

.decks-progress {
  @extend %ui-card-base;

  height: $overview-card-height;

  .progresses {
    margin-top: 20px;
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
  }
}
