@import '../../scss/signing';

.forgot-password-container {
  margin-top: 192px;
  overflow: auto;

  .back-to {
    margin-bottom: 20px;
    cursor: pointer;
    text-decoration: none;
    color: $gray-color;

    .chevron-left {
      transform: scale(0.6);
      margin-top: -2px;
      fill: $gray-color;
    }
  }

  .forgot-password-card {
    @extend %ui-card;

    width: 500px;
    height: 400px;

    .card__header {
      font-family: $font-stack;
      font-weight: bold;
      font-size: 28px;
      text-align: left;
    }

    p {
      margin-top: 10px;
      margin-bottom: 25px;
    }

    .btn {
      margin-top: 20px;
    }

  }
}

