@import "../../../../sass/config";

.subdeck {
  &:hover {
    background-color: $bg-hover-color;
    cursor: pointer;
  }

  &.excluded {
    text-decoration: line-through;

    .settings__deck-name {
      opacity: 0.5;
    }

  }
}