%training-cards-number-base {
  position: absolute;
  font-size: 12px;

  .repeat-info {
    margin-right: 5px;
  }

  .clocks-fill-up-icon {
    margin-top: -2px;
    margin-right: 3px;
  }

  .glasses-icon {
    transform: scale(1.2);
    margin-top: -3px;
    margin-left: 2px;
    margin-right: 3px;
  }
}

.training-cards-number {
  @extend %training-cards-number-base;
}