@import "../../../sass/common";
@import "../../cards/common";
@import "../../cards/training-cards-info/training-cards-info";

.training {
  width: 500px;

  .header {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 0;
  }

  .progress { width: 130px;  }

  .cards-left-info {
    color: $secondary-text-color;
    font-size: 14px;
  }

  .three-dots-icon {
    opacity: .5;
    transform: scale(2);
    margin-right: 10px;
  }

  .qa-card-container {
    border-radius: $ui-card-border-radius;
    position: relative;
    margin-top: 10px;
    margin-bottom: 20px;
    height: 600px;


    .qa-card {
      @extend %ui-card-base;
      position: absolute;
      z-index: 1;
      height: 580px;

      pre {
        height: 100%;
        font-size: 35px;
        line-height: 45px;
      }
    }

    .qa-card-bottom {
      position: absolute;
      bottom: 0;
      height: 30px;
      width: 100%;
      border-radius: 0 0 $ui-card-border-radius $ui-card-border-radius;

      background-color: #F0573E;
    }
  }

  .controls {
    position: relative;

    .timer {
      position: absolute;
      top: 12px;

      .bi-hourglass-split {
        width: 25px;
        height: 25px;
      }
    }

    .btn {
      position: absolute;
      left: 38%;
    }
  }

}