@import "../../../sass/common";
@import "../../cards/common";
@import "../../cards/training-cards-info/training-cards-info";

.deck-path {
  @extend %two-rows-text-base;

  margin-left: 20px;
  margin-bottom: 3px;
  line-height: 12px;
  font-size: 12px;
}

.training-card {
  @include mini-deck-card-base($dx: 5px, $dy: 0);

  padding-top: 10px;
  width: 270px;
  height: 90px;

  .deck-mark {
    border-radius: 10px 0 0 10px;
  }

  .training-cards-number {
    right: 10px;
    bottom: 5px;
  }
}

%overdue-indicator-base {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: -3px;
    right: -10px;
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    background-color: white;
  }
}

.training-cards {
  @extend %ui-card-base;

  width: 330px;
  padding: 15px 0 10px;

  &:hover .heading .btn {
    opacity: 1;
  }

  .heading {
    min-height: 37px;
    padding-left: 25px;
    padding-right: 15px;
    padding-bottom: 5px;
    margin-bottom: 0;

    & > .training-cards-number {
      position: static;
      margin-top: 9px;
      margin-right: 10px;
      transform: scale(1.2);
    }

    .chevron-up-icon.collapsed {
      transform: scale(1.5) rotate(180deg);
    }

    .chevron-up-icon {
      transform: scale(1.5);
      margin-right: 3px;
      transition: .3s transform ease-in-out;
    }

    .subheader {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 0;
      margin-top: 5px;
    }

    .btn {
      opacity: 0;
      height: 32px;
      margin-right: 15px;
      transition: opacity 0.3s ease-in-out;

      &:focus {
        opacity: 1;
      }

      @media only screen and (max-width: 850px) { & { opacity: 1; } }
    }

    .overdue-indicator--warning {
      @extend %overdue-indicator-base;
      &::after { background-color: $warning-color; }
    }

    .overdue-indicator--danger {
      @extend %overdue-indicator-base;
      &::after { background-color: $danger-color; }
    }
  }

  .collapse.show {
    margin-bottom: 15px;
  }

  .cards {
    margin-left: 28px;
    gap: 15px;
  }

  .cards:first-child {
    margin-top: 10px;
  }
}

.decks-to-train {
  .trainings-footer {
    position: fixed;
    height: 50px;
    bottom: -10px;
    left: 0;
    background: linear-gradient(180deg, rgba($bg-color, .5) 0%, rgba($bg-color, .9) 50%,rgba($bg-color, 1) 100%);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px 2px rgba($bg-color, .7);
  }
}

.heading {
  margin-bottom: 10px;
  max-width: 1020px;

  .page-header {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }

  .settings-trigger {
    margin-left: 120px;
  }

  @media only screen and (max-width: 1200px) { & { max-width: 675px; } }
  @media only screen and (max-width: 850px) { & { max-width: 330px; } }
}

.settings__deck-name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 0;
}

.selection-info {
  font-size: 20px;
  margin-bottom: 10px;
}

.included-subdeck {
  &:hover {
    background-color: $bg-hover-color;
    cursor: pointer;
  }

  &.excluded {
    text-decoration: line-through;

    .settings__deck-name {
      opacity: 0.5;
    }

  }
}

.settings-info {
  color: $secondary-text-color;
}

.settings__deck-label-container {
  margin-bottom: -5px;

  .settings__deck-label {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 10px;
    color: $secondary-text-color;
    padding: 2px 5px;
    background-color: $light-color;
    border-radius: 5px;
  }
}

.no-content {
  font-size: 15px;
  font-weight: bold;
  text-align: center;
}

.deck-to-tune {
  &:hover {
    cursor: pointer;
    background-color: $bg-hover-color;
  }
}