@import "../../../sass/config";

.decks-to-train {
  .trainings-footer {
    position: fixed;
    height: 50px;
    bottom: -10px;
    left: 0;
    background: linear-gradient(180deg, rgba($bg-color, .5) 0%, rgba($bg-color, .9) 50%,rgba($bg-color, 1) 100%);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 5px 2px rgba($bg-color, .7);
  }
}