@import "../../sass/config";

.landing-hero-screen {
  @extend %landing-screen-base;

  %landing-header {
    font-size: 90px;
    font-weight: bold;
    font-family: $font-stack;
  }

  .hero {
    margin-top: 100px;
    margin-left: 100px;

    &__h-top {
      @extend %landing-header;
      color: $white-color;
    }

    &__h-bottom {
      @extend %landing-header;
      margin-top: -20px;
      color: $secondary-color;
    }

    &__p {
      width: 40%;
      margin-top: 40px;
      margin-bottom: 60px;
      font-size: 35px;
      font-family: $font-stack;
      color: $white-color;
    }

    &__btn-cta {
      background-color: $secondary-color;
      color: $white-color;
      font-weight: bold;
      font-family: $font-stack;
      font-size: 20px;
      width: 305px;
      height: 45px;
      border-radius: 10px;
      border: none;

      transition: box-shadow 250ms ease-in-out;

      &:focus,
      &:hover {
        outline:none;
        box-shadow: 0 0 20px rgba(252, 169, 92, 0.76);
      }
      &:active {
        opacity: .9;
        box-shadow: 0 0 20px rgba(252, 169, 92, 0.76);
      }
    }
  }

  .girl-img {
    width: 40%;
    position: absolute;
    top: 100px;
    right: 100px;
  }

}
