@import "../../../../sass/config";
@import "../../../../sass/common";

hr {

  @include xs { margin-bottom: 10px; }
}

.qa-card-container {
  position: relative;
  overflow: hidden;

  height: 100%;
  width: 100%;

  border-radius: 25px;
  border: $border;

  .qa-card {
    height: 97%;
    width: 100%;

    overflow-y: auto;

    z-index: 1;

    padding: 20px 20px 20px 20px;
    border-radius: 25px;

    background-color: $white-color;


  }

  .qa-card::before, .qa-card::after { // auto margins act like justify content center but with overflow support
    content: '';
    margin: auto;
  }
}



