@import "../../../sass/common";
@import "../common";
@import "../../icons/icons";
@import "../../cards/training-cards-info/training-cards-info";

.last-training-card {
  @include mini-deck-card-base;

  width: 268px;

  .deck-mark {
    border-radius: 10px 0 0 10px;
  }

  .training-cards-number {
    bottom: 4px;
    left: 20px;
  }
}
