@use "../../../../sass/config";

.controls {
  height: 48px;

  .estimate-btn {
    @include config.xs {
      height: 38px;
      font-size: 14px;
      font-weight: bold;
    }
  }

  .btn-group {
    @include config.xs { height: 38px; }

    .btn {
      width: 80px;
      font-size: 20px;

      @include config.xs {
        width: 60px;
        font-size: 14px;
        font-weight: bold;
      }
    }

    .btn-warning {
      color: white;
      &:hover, &:active, &:focus { color: white; }
    }
  }
}
