@import "../../sass/config";

.footer {
  opacity: .7;

  margin-top: 10px;

  p {
    margin-bottom: 10px;
  }

  .refs {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    @media only screen and (max-width: 550px) { & { flex-direction: column; } }
  }

}

.landing__footer {
  margin-top: 50px;
  display: flex;

  p,
  a {
    font-family: $font-stack;
    font-size: 20px;
  }

  p {
    color: $white-color;
    margin-left: 150px;
    margin-right: auto;
  }

  .refs {
    margin-right: 100px;
    display: flex;
    gap: 50px;

    a {
      color: $white-color;
      &:hover {
        color: $secondary-color;
        cursor: pointer;
      }
    }
  }
}
