.regular-trainings-heading {
  margin-bottom: 10px;
  max-width: 1020px;

  .page-header {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
  }

  .settings-trigger {
    margin-left: 120px;
  }

  @media only screen and (max-width: 1200px) { & { max-width: 675px; } }
  @media only screen and (max-width: 850px) { & { max-width: 330px; } }
}
