@import "../../../sass/common";
@import "../common";

.cards-per-day {
  @extend %ui-card-base;

  height: $overview-card-height;
  width: 65%;

  .cards-per-day-line-container {
    width: 100%;
    height: 87%;
  }
}
