@import "../../../../../sass/config";

$mb: 20px;

.qa-card__pre {
  padding-right: 15px;
  overflow-y: hidden;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 2em;
  line-height: 34px;
  margin-bottom: $mb;
  flex: 0 0 auto;
}

.qa-card__image {
  width: 96%;
  height: 45%;
  border-radius: 5px;
  margin-bottom: $mb;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.qa-card__audio {
  margin-bottom: $mb;

  .play-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;

    .bi {
      width: 40px;
      height: 40px;

      fill: $white-color;
    }

    .bi-play-fill {
      margin-left: 4px;
    }
  }
}

.qa-card {
  .uinput {
    width: 96%;
    margin-bottom: $mb;
  }

  .uradio {
    margin-bottom: $mb;
  }

}
.interactive-question {
  font-size: 1.3em;
  letter-spacing: .1px;
  word-break: break-word;
  margin-bottom: 1rem;
}

