@use "../../../../../sass/config";

$mb: 20px;

$mb-xs: 10px;

.qa-card__pre {
  overflow-y: hidden;
  overflow-x: hidden;
  word-wrap: break-word;
  white-space: pre-wrap;
  font-size: 2em;
  line-height: 34px;
  margin-bottom: $mb;
  flex: 0 0 auto;

  @include config.xs {
    margin-bottom: $mb-xs;
    font-size: 1.7em;
  }
}

.qa-card__image {
  min-height: 40%;
  border-radius: 5px;
  margin-bottom: $mb;

  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @include config.xs { margin-bottom: $mb-xs }
}

.qa-card__audio {
  margin-bottom: $mb;

  .play-btn {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    padding: 0;

    .bi {
      width: 40px;
      height: 40px;

      fill: config.$white-color;

      @include config.xs {
        width: 30px;
        height: 30px;
      }
    }

    @include config.xs {
      width: 45px;
      height: 45px;
    }

    .bi-play-fill {
      margin-left: 4px;
    }
  }

  @include config.xs { margin-bottom: $mb-xs }
}

.qa-card {
  .uinput {
    width: 96%;
    margin-bottom: $mb;

    @include config.xs { margin-bottom: $mb-xs }
  }

  .uchecks {
    margin-bottom: $mb;

    @include config.xs { margin-bottom: $mb-xs }
  }

}

