@import "../../sass/config";

.scroll-down {
  position: absolute;
  bottom: 15px;
  left: 50%;

  &:hover {
    opacity: 0.8;
  }
}

@mixin attention-base($color:none, $scale:1.3, $top:12px, $right:10px) {
  display: inline;
  transform: scale($scale);
  position: absolute;
  top: $top;
  right: $right;
  fill: $color;
}

.overdue--none {
  @include attention-base;
  display: none;
}

@mixin overdue($color) {
  @include attention-base($color, 1.2, -4px, -3px);
}

.overdue--warning {
  @include overdue($warning-color);
}

.overdue--danger {
  @include overdue($danger-color);
}
