.login-with {
  margin-top: 15px;
  width: 100%;
  text-align: center;
}

.btn-google {
  width: 125px;
  height: 40px;
  margin-top: -3px;
  margin-bottom: 30px;

  .google-icon {
    margin-right: 5px;
    display: inline-block;
  }
}
